/* src/assets/variables.css */
:root {
  --main-color: #42b983;
  --font-size-large: 20px;
  --panel-padding: 16px;
  --panel-margin: 24px;
  --panel-margin-bottom: 8px;
  --top-bar-height: 36px;
  --checkbox-size: 16px;
  --meeting-room-width: 1250px;
  --chat-room-avatar-size: 36px;
  --chat-room-func-icon-size: 30px;
  --chat-room-func-btn-size: 34px;
}